@import "normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}
body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.nav{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.nav a{
  padding:16px;
}

.section.row{
  flex-direction: row;
}

.iphone-demo,
.feature-description {
  flex-grow:1;
  align-self:stretch;
  flex-basis:0;
  align-content:center;
  align-items:center;
}
.iphone-demo img{
  max-width: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.feature-description {

}
