@import "normalize.css";
body, html {
  width: 100%;
  height: 100%;
}

body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}


body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  width:100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.row{
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.column{
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#react-logo{
  position: relative; /*图片默认position是static，所以即使修改x,y也不能改变位置，因此设置成relative*/
  width: 300px;
  margin-top:-10%;
}

.nav{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.nav a{
  padding:16px;
}


#iphone-overlay{
  position: absolute;
  left:0;
  width:100%;
  height: 100%;
  transform:translate(0,-20%);
  z-index: 3;
  /*background: rgba(255,0,0, 0.3);*/
}


.feature-description {
  position: absolute;
  right: 0;
  width:50%;
  height: 100%;
  padding: 50px;
}

.iphone-demo .img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#android-robot{
  position: absolute;
  right:0;
  bottom: 0;
  transform: translate(50%,50%) rotate(-45deg);
}

#slider-control {
  padding: 3px;
  position: fixed;
  right:15px;
  top:45%;
  z-index: 99;
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

#native  {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}


#native  h2,
#native .nav{
  position: relative;
  z-index: 3;
}

.fade-overlay{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background: #1F1E34;
  opacity:0;
  z-index: 2;
}

@media(max-height: 640px){
  #react-logo{
    margin-top: -10%;
    width:200px;
  }
  h2{
    font-size: 36px;
  }
}
